
/**********   modal   **********/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    animation-name: modalOpen;
    animation-duration: 1s;
}

.middle {
    display: table-cell;
    vertical-align: middle; /* change position of modal */
}

.inner {
    margin: auto;
    padding: 21px;
    width: 80%; /* change width of modal */
    background: #fff;
    border-radius: 10px;
}

.modalContainer {
  width: 100%;
  height: 35px;
}

@keyframes modalOpen {
  from {opacity: 0};
  to: {opacity: 1};
}

#defaultCloseBtn {
  cursor: pointer;
  float: right;
  display: block;
}

/**********   form   **********/
* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #1377D5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.formContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
